.orbit{"aria-label" => "Herve magazine", "data-orbit" => "", :role => "region"}
  .orbit-wrapper
    .orbit-controls
      %button.orbit-previous
        %span.show-for-sr
          Previous Slide
        &#9664;&#xFE0E;
      %button.orbit-next
        %span.show-for-sr
          Next Slide
        &#9654;&#xFE0E;
    %ul.orbit-container
      - (1..28).each do |i|
        %li{ class: "#{i == 1 ? 'orbit-slide is-active' : 'orbit-slide'}" }
          %figure.orbit-figure
            = image_tag "#{i}.jpg", class: 'orbit-image'
