!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Sexy RV DOT club !!"
    = stylesheet_link_tag    "application"
    = csrf_meta_tags
  %body.grid-container.fluid
    .row
      .small-12.columns
        = yield
  = javascript_include_tag "application", 'data-turbolinks-track' => true
